<div class="col-md-6 col-md-offset-3">
  <div class="login-form">
    <h2><%= t('log-in') %></h2>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email, required: false, autofocus: true, label: t('email') %>
        <%= f.input :password, required: false, label: t('passwd')%>
        <%= f.input :remember_me, label: t('remb-me') ,as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, t('log-in'), :class => 'btn-custom2' %>
      </div>
    <% end %>
  </div>
</div>
