<!DOCTYPE html>
<html>
  <head>
    <title><%= t('page-title') %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
            <%= link_to t('main-page'), root_path,  class: "navbar-brand" %>
        </div>
        <ul class="nav navbar-nav">
          <li><%= link_to t('sign-up'), new_user_registration_path %></li>
          <% if user_signed_in? %>
             <li><%= link_to t('sign-out'), destroy_user_session_path, method: :delete %></li>
             <li class="navbar-default-userEmail">(<%= current_user.email %>)</li>
            <% else %>
             <li><%= link_to t('log-in'), new_user_session_path %></li>
            <% end %>
        </ul>


        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= t('categories') %><span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <% Category.all.each do |category| %>
                  <li class="<%= 'active' if params[:category] == category.name %>"><%= link_to category.name,  books_path(category: category.name), class: "link" %></li>
                <% end %>
              </ul>
            </li>


          <% if user_signed_in? %>
            <li><%= link_to t('new-book'), new_book_path %></li>
          <% end %>
        </ul>

      </div>
    </nav>


    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
